
          <div class="carousel-item">
              {{!-- display image here --}}
            <img src={{image_url}} class="d-block w-100" alt={{name}} + "image">
            <div class="carousel-caption d-none d-md-block">
              <h5>Featured Plants</h5>
              {{!-- plant name here --}}
              <p>{{name}}</p>
            </div>
          </div>
