<h1>Featured Plant:</h1>
<section class="row justify-content-center">
       <div class="col-12 col-sm-6 col-lg-4 mb-3">
            <div class="home-page-card card" >
                <img class="card-img-top home-page-img" src="{{plant.image_url}}" alt="Card image cap">
                <div class="card-body">
                <h5 id="home-card-title">{{plant.plant_name}}</h5>
                <p>{{plant.plant_info}}</p>
                </div>
            </div> 
        </div>
</section>  
