
<section>
    <div class="container2">
        <p>~ Featured Plant ~</p>
        <p>{{plant.plant_name}}</p>
        <a href="/plant/{{plant.id}}">
        <div class="row row-cols-5">
          
          <div class="col"><img src="{{plant.image_url}}"class="img-fluid" ></div>
          
        </div>
      </div>
      </a>

</section>
