
<section class="row justify-content-center">
       <div class="col-12 col-sm-6 col-lg-4 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{plant.image_url}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">name: {{plant.plant_name}}</h5>
                <p>{{plant.plant_info}}</p>
                </div>
            </div> 
        </div>
</section>  
