 <div class="container2">
        <div class="row row-cols-5">
          <div class="col"><img src="https://via.placeholder.com/200" class="img-fluid" alt="..."></div>
          <div class="col"><img src="https://via.placeholder.com/200" class="img-fluid" alt="..."></div>
          <div class="col"><img src="https://via.placeholder.com/200" class="img-fluid" alt="..."></div>
          <div class="col"><img src="https://via.placeholder.com/200" class="img-fluid" alt="..."></div>
          <div class="col"><img src="https://via.placeholder.com/200" class="img-fluid" alt="..."></div>
        </div>
      </div>
