<form class="form login-form">
    <div class="row">
      <div class="col-md-6">
        <form class="form">
          <div class = "form-style">
          <div class="form-group">
            <h2>Login</h2>
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-login" />
          </div>
          <div class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <form class="form signup-form">
    <div class="col-md-6">
      <div class = "form-style">
        <div class="form-group">
          <h2>Signup</h2>
          <label for="email-signup">Username:</label>
          <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">Password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button id= "submit-btn" class="btn btn-primary" type="submit">Signup</button>
        </div>
      </div>
    </div>
  </form>
  </div>

