<h1 id="search-page-title">{{userGarden.username}}'s Garden</h1>
<section class="row justify-content-center">
  {{#each userGarden.plants as |plant|}}
    <div class="col-12 col-sm-6 col-lg-3 mb-3">
        <a href="/plant/{{plant.id}}">
            <div class="plant search-page-card card" style="width: 18rem;">
                <img class="card-img-top search-img" src="{{plant.image_url}}" alt="Card image cap">
                <div class="card-body">
                <h5 id="search-card-title" class="card-title">{{plant.plant_name}}</h5>
                </div>
            </div>
        </a>
    </div>
  {{/each}}
</section>