 <div class="navbar2">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <nav class="navbar2">
        <a class="navbar-brand"><h4>My Garden</h4></a>
        </nav>
        </nav>
        </div>
        <div class="container">
          <div class="row row-cols-2">
            <div class="card2" >
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Favorite 1</p>
              </div>
            </div>
            <div class="card2">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Favorite 2</p>
              </div>
            </div>
            <div class="card2">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Favorite 3</p>
              </div>
            </div>
            <div class="card2">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Favorite 4</p>
              </div>
            </div>
          </div>
        </div>
