<div class="card" style="width: 18rem;">
        <div class="selected-plant">
          {{plantDatadb.plant_name}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="plant-info1">Height: {{plantDatadb.plant_info.height}} cm</li>
          {{!-- <li class="plant-info2">Sun</li>
          <li class="plant-info3">Soil</li>
          <li class="plant-info4">Re-Potting</li>
          <li class="plant-info5">Propagating</li>
          <li class="plant-info6">Pet Friendly?</li>
          <li class="plant-info6">Scientific name</li> --}}
        </ul>
      </div>

      <img id="plantpage" src="{{plantDatadb.image_url}}" class="rounded float-right" alt"{{plant_name}} image">
      {{#if cond}}
      
      {{/if}}
      <button type="button" class="btn2 btn-outline-secondary">Add to My Garden</button>
      
      <footer> 
        <a href="https://www.homedepot.com/b/Outdoors-Garden-Center-Indoor-Plants-House-Plants/N-5yc1vZcew7?NCNI-5&searchRedirect=house%20plants&semanticToken=d00r20r01122000000_2021042120105677160610051745_us-central1-s8rx%20d00r20r01122000000%20%3E%20%20rid%3A%7B750ec13d718b702a0052724abbe9c7ef%7D%3Arid%20st%3A%7Bhouse%20plants%7D%3Ast%20ct%3A%7Bhouse%20plant%7D%3Act%20tgr%3A%7BNo%20stage%20info%7D%20nr%3A%7Bhouse%20plant%7D%3Anr%20qu%3A%7Bhouse%20plant%7D%3Aqu" link id ="link" >Buy Me Here!</a>
      </footer>

