<section class="row justify-content-center">
  <h1>PLANTS!!</h1>
  {{#each featuredplant as |plant|}}
  <div class="col-12 col-sm-6 col-lg-4 mb-3">
    <div class="plant card" style="width: 18rem;">
      <a href="/plant/{{plant.id}}">
        <img class="card-img-top" src="{{plant.image_url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Name: {{plant.common_name}}</h5>
        </div>
      </a>
    </div>
  </div>
  {{/each}}
</section>