<section class="row justify-content-center">
<<<<<<< HEAD
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
            <div class="card3">
                <img class="card-img-top" src="https://via.placeholder.com/200" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Tomato</h5>
                <p class="card-text">Description</p>
                </div>
            </div> 
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
            <div class="card3">
                <img class="card-img-top" src="https://via.placeholder.com/200" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Potato</h5>
                <p class="card-text">Description</p>
                </div>
            </div> 
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
            <div class="card3">
                <img class="card-img-top" src="https://via.placeholder.com/200" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Sunflower</h5>
                <p class="card-text">Description</p>
                </div>
            </div> 
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
            <div class="card3">
                <img class="card-img-top" src="https://via.placeholder.com/200" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Tomato</h5>
                <p class="card-text">Description</p>
                </div>
            </div> 
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
            <div class="card3">
                <img class="card-img-top" src="https://via.placeholder.com/200" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Potato</h5>
                <p class="card-text">Description</p>
                </div>
            </div> 
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
            <div class="card3">
                <img class="card-img-top" src="https://via.placeholder.com/200" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Sunflower</h5>
                <p class="card-text">Description</p>
                </div>
            </div> 
        </div>
    </section>    
=======
    {{#each featuredplant as |plant|}}
       <div class="col-12 col-sm-6 col-lg-4 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                </div>
            </div> 
        </div>
    {{/each}}
</section>  
>>>>>>> d11e67512ec8d2230e548cb72622e4b50e8273f7
