body {
  font-family: montserrat;
  margin: 0;
  
}

.jumbotron {
  background-color: #DDC9C7;
  
}

h1 {
  color:#536555;
  font-weight: medium-500;
}

.navbar{
  background-color: #DDD4C7;
  width: 102%;
  margin-left: -1%;
  margin-right: -10%;
}

h4 {
  color: #687E6A;
  font-style: italic;

}

#button {
  background-color: white;
  color:  #687E6A;
  font-style: italic;
  border-radius: 50px 0 50px 0;
}

.card {
  color: #2A322A;
  background-color: #E9F2E9;
  font-size: 25px;
  margin-left: 10%;
  margin-top:10%;
  border-radius: 25px 0 25px 0;
  border: 1px solid #687E6A;
  padding: 3%;

}

ul {
  list-style-type: none;
}

img {
  border-radius: 0 25px 0 25px;
  border: 1px solid #687E6A;
  margin-right: 10%;
  margin-top: -25%;
}

footer {
  text-align: right;
  background-color: #F2EBEA;
  margin-top: 5%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#link {
  text-decoration-color: none;
  color:  #687E6A;
}

.login-form {
    margin: 70px 20px 20px 20px;
    padding: 3%;
    border-radius: 3px;
    border-width: thick;
    background-color: #b49b99;
    width:18%;
}

.btn{
    background-color:#0b4b19;
    margin-left:20px;
}

.btn:hover{
    cursor:pointer;
    background-color: #0d5b1e;
}
@media only screen and (max-width: 768px) {
    .form-style {
      width: 70%;
    }
  }

@media only screen and (max-width: 600px) {
    .form-style {
      width: 60%;
    }
  }
