body {
    font-family: "Montserrat";
    margin-bottom: 5%;
}

.jumbotron {
    background-color: #DDC9C7;
}

h1 {
    color:#536555;
    font-weight: medium-500;
    margin-left: 10%;
}

h4 {
    color: #687E6A;
    font-style: italic;
    margin-left: 15%;
}
h4:hover {
    font-style: normal;
    text-shadow: 1px 1px 1px#536555;
}
h2 {
    font-style: oblique;
}


.navbar{
    background-color: #DDD4C7;
    width: 102%;
    margin-left: -1%;
    margin-right: -10%;
}
.navbar2 {
    background-color: #C7DDC9;
    width: 102%;
    margin-left: -1%;
    margin-right: -10%;
    text-align: center;
}


#button {
    background-color: white;
    color:  #687E6A;
    font-style: italic;
    border-color: #687E6A;
    border-radius: 50px 0 50px 0;
}

#button:hover {
    background-color: #687E6A;
    color: white;
    box-shadow: 1px 1px 4px #536555;
}

.form-control:hover {
    box-shadow: 1px 1px 2px #687E6A;
    cursor: pointer;
}

.search-img {
    float: left;
    width:  100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    padding:3px;
}

p {
    text-decoration: none;
    font-size: 34px;
    text-align: center;
    color: #536555;
   
}
/* .home-page-card {
    color: #2A322A;
    background-color: #E9F2E9;
    font-size: 40px;
    margin-top:1%;
    
    border: 1px solid #687E6A;
    padding: 5%;
    width: 500px;
}

.home-page-img {
    float: left;
    width:  100%;
    height: 300px;
    object-fit: scale-down;
    border-radius: 8px;
    padding:5px;
    background-color:whitesmoke;
}
#home-card-title {
    color:black;
    font-size: 45%;
    padding-top: 5px;
    margin-top: 3px;
} */

#search-page-title{
    margin-top: 3%;
}

#search-card-title {
    color:black;
    font-size: 90%;
    padding-top: 5px;
    margin-top: 3px;
}

.search-page-card {              
    color: #2A322A;
    background-color: #E9F2E9;
    font-size: 25px;
    margin-left: 12%;
    margin-top:5%;
    border-radius: 25px 0 25px 0;
    border: 1px solid #687E6A;
    padding: 3%;
    height: 315px;
}
.card {              
    color: #2A322A;
    background-color: #E9F2E9;
    font-size: 25px;
    margin-left: 12%;
    margin-top:5%;
    border-radius: 25px 0 25px 0;
    border: 1px solid #687E6A;
    padding: 3%;
}

.card2 {
    color: #2A322A;
    background-color:  #E9F2E9;
    font-size: 25px;
    border: 1px solid #687E6A;
    margin-top: 8%;
    height: 20%; 
}
.card3 {
    color: #2A322A;
    background-color:  #E9F2E9;
    font-size: 15px;
    border: 1px solid #687E6A; 
    margin-top: 8%;
    margin-left: 5%;
    height: 88%;
    width: 88%;
    padding: 2%;
    
}
.container2 {
    margin-top: 5%;
    align-items: center;
    border-top: 2px solid #687e6A;
    border-bottom: 2px solid #687e6A;
    background-color: #E9F2E9;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
}

ul {
    list-style-type: none;
}

#plantpage {
    border-radius: 0 25px 0 25px;
    border: 1px solid #687E6A;
    /* margin-right:10%; */
    width: 100%;
    height: 600px;;
    object-fit: cover;
    margin-top: 20%;
    box-shadow: 10px 10px 20px #536555;
}

.plant-info-card {              
    color: #2A322A;
    background-color: #E9F2E9;
    font-size: 20px;
    border-radius: 25px 0 25px 0;
    border: 1px solid #687E6A;
    padding: 3%;
}

.image {
    border: 1px solid  #687E6A
}

footer {
    text-align: right;
    background-color: #F2EBEA;
    margin-top: 5%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#link {
    text-decoration-color: none;
    color:  #687E6A;
}
.col {
    margin-left: 43%;
    border: 3px solid #DDD4C7;
    padding: 0%

}
.col-6 {
  
    border: 1px solid #2A322A;
    background-color: #b49b99;
    color: #2A322A;
    padding: 1%;
    
}
.row {
    width: 85%;
    margin-left: 5%;
    margin-top: 3%;
}

.btn2 {
    background-color: #A6C9A9;
    color: #2A322A;
    border: 1px solid #2A322A;
    border-radius: 5px 5px 5px 5px;
    justify-self:center;
    /* margin-top: 5%; */
    margin-left: 83%;
    padding:13px;
    text-align: center;
    font-weight:bold;
}

.btn2-remove {
  background-color: #CE8F8F;
  color: #2A322A;
  border: 1px solid #2A322A;
  border-radius: 5px 5px 5px 5px;
  justify-self:center;
  margin-top: 5%;
  margin-left: 23%;
  padding:10px;
}

.btn{
    background-color: #A6C9A9;
    color: #2A322A;
    border: 1px solid #2A322A;
    border-radius: 5px 5px 5px 5px;
    margin-left:20px;
}

.btn2:hover {
    cursor: pointer;
    background-color: #2A322A;
    color: #A6C9A9;
    box-shadow: 1px 1px 4px #536555;
}

.btn:hover{
    cursor: pointer;
    background-color: #2A322A;
    color: #A6C9A9;
    box-shadow: 1px 1px 4px #536555;
}



@media only screen and (max-width: 768px) {
    .form-style {
      width: 70%;
    }
    .card{
        margin-left: 5%;
    }
  }

@media only screen and (max-width: 600px) {
    .form-style {
      width: 60%;
    }
    .card{
        margin-left: 0%;
    }
}
